@use '../utils/mixins';

.btn {
	background-color: var(--white);
	color: var(--brand-green);
	border: none;
	padding: 11px 33px;
	border-radius: 8px;
	@include mixins.typography($size: 16px, $weight: 500, $line-height: 178.2%, $spacing: -3.5%);

	&-primary {
		background-color: var(--brand-green);
		color: var(--white);
	}
}
