@use '../utils/mixins';

.socials {
	@include mixins.flex($gap: 8, $align: center);

	&__link {
		text-decoration: none;
		color: var(--text-secondary);

		&:hover {
			color: var(--text-primary);
		}
	}
}
