body {
	background-color: #192f48;
}

body {
	font-family: Karla;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

.sub-title {
	font-size: 15px;
	font-weight: 700;
	line-height: 17.54px;
	letter-spacing: 2.8px;
	text-align: center;
	color: white;
}

.title {
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	letter-spacing: -2.5px;
	text-align: center;
	color: white;
}

.wrapper {
	display: flex;
	gap: 30px;
	justify-content: center;
}

/* CARD  */
.card {
	width: 350px;
	height: 515px;
	opacity: 0px;
	background-color: #2b405a;
	padding: 30px 45px;
	border-radius: 6px;
	color: white;
	box-sizing: border-box;
}

.card-white {
	background-color: white;
	color: black;
}

/* CARD INFO */
.card-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-type {
	font-family: Karla;
	font-size: 13px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.4px;
	text-align: left;
}

.card-status {
	width: 83px;
	height: 26px;
	border-radius: 13px;
	background-color: #4eab08;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: -0.52px;
	text-align: center;
	line-height: 26px;
	color: white;
}

/* CARD PRICE */
.card-price {
	font-weight: 700;
}

.prefix {
	font-size: 30px;
	line-height: 35px;
	letter-spacing: -1.2px;
}

.amount {
	font-size: 50px;
	line-height: 60px;
	letter-spacing: -2px;
}

.suffix {
	font-size: 17px;
	line-height: 19.87px;
	letter-spacing: -0.6799998879432678px;
}

/* CARD DESCRIPTION */
.card-description {
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: -0.4px;
}

/* CARD SERVICES */
.card-services {
	list-style: none;
	padding: 0;
}

.card-services-item {
	font-size: 17px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: -0.42px;
}

.strike {
	text-decoration: line-through;
	color: #878b90;
}

/* CARD BUTTON */
.card-button {
	width: 190px;
	height: 50px;
	border-radius: 5px;
	border: none;
	background-color: #258aff;
	color: white;

	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: -1px;
	text-align: center;
}

.btn-orange {
	background-color: #fc593b;
}

/* CARD MESSAGE */
.card-message {
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.4px;
	color: #878b90;
}
