* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	display: grid;
	place-items: center;
	background-color: #efed40;
}

h1 {
	font-size: 100px;
	color: black;
}

@media (max-width: 1600px) {
	body {
		background-color: green;
	}
}

@media (max-width: 1300px) {
	body {
		background-color: blue;
	}
}

@media (max-width: 1000px) {
	body {
		background-color: red;
	}
}
