body {
	height: 100vh;
	display: grid;
	place-items: center;
	background-color: #efed40;
}

.boxes {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 800px;
	height: 800px;
	background-color: #fff;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	gap: 20px;
}

html {
	color: white;
}

.box {
	width: 200px;
	height: 200px;
	font-family: 'Dank Mono';
	font-weight: bold;
	font-size: 40px;
	transition: 0.3s linear all;
	border-radius: 8px;
	width: 400px;
	height: 400px;
	border: 1px solid #000;

	background-color: red;
}

h1 {
	background-color: initial;
	width: 500px;
	/* color: initial; */
}
