/* HEADER NAVBAR */
.navbar {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	align-items: center;
}

.navbar .menu {
	padding: 0;
	margin: 0;
	display: flex;
	gap: 30px;
	list-style-type: none;
}

.navbar .menu .menu-item .menu-link {
	font-family: Work Sans;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	text-align: right;

	text-decoration: none;
	color: white;
}

@media (max-width: 576px) {
	.navbar .brand img {
		width: 100%;
	}

	.navbar .brand {
		width: 130px;
	}
	.navbar .menu {
		display: none;
	}
}

/* HEADER HERO */
.hero {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.hero .left h1,
.hero .left h2,
.hero .left p {
	margin: 0;
}
.hero .right svg {
	width: 100%;
}

@media (max-width: 576px) {
	.hero {
		grid-template-columns: 1fr;
		align-items: center;
	}
	.hero .right {
		order: -1;
	}
}
