@use 'sass:map';
$break-points: (
	sm: 567px,
	md: 768px,
	lg: 992px,
	xl: 1024px,
	xxl: 1400px,
);

@mixin media($break-point) {
	$width: map.get($break-points, $break-point); // 567px

	@if not $width {
		@error "#{$break-point} not supported";
	}

	@media (max-width: $width) {
		@content;
	}
}
