@use 'sass:map';
$break-points: (
	sm: 567px,
	md: 768px,
	lg: 992px,
	xl: 1024px,
	xxl: 1400px,
);

@mixin media($break-point: sm) {
	$width: map.get($break-points, $break-point); // 567px

	@if not $width {
		@error "#{$break-point} not supported";
	}

	@media (max-width: $width) {
		@content;
	}
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	gap: $gap + px;
}

@mixin typography(
	$style: regular,
	$weight: 400,
	$size: 14,
	$line-height: 24.95,
	$align: left,
	$decoration: none
) {
	font-family: Lexend;
	font-weight: $weight;
	font-size: $size + px;
	line-height: $line-height + px;
	text-align: $align;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	text-decoration: $decoration;
}
