@use 'sass:list';
$actions: error, success, warning, primary;
$bg-colors: red, green, yellow, blue;

@each $action in $actions {
	.btn-#{$action} {
		$index: list.index($actions, $action);
		background-color: list.nth($bg-colors, $index);
	}
}
