:root {
	font-size: 40px;
}

body {
	height: 100vh;
	display: grid;
	place-items: center;
}

.boxes {
	width: 100%;
	height: 800px;
	border: 1px solid lightgray;
	display: flex;
	position: relative;
	flex-wrap: wrap;
}

.box {
	min-width: 120px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Dank Mono';
	font-weight: bold;
	transition: 0.3s linear all;
	background-color: var(--bg);
	color: var(--color);
	font-size: 20px;
	color: white;
}

/* .box-6 {
	align-self: flex-start;
} */

.box-3 {
	order: -1;
}

.box-9 {
	order: -2;
}
