@import 'bootstrap/dist/css/bootstrap.min.css';

.loader {
	display: grid;
	place-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
}

.spinner-border {
	width: 60px;
	height: 60px;
	font-size: 20px;
}
