* {
	box-sizing: border-box;
}

:root {
	--boxes-size: 400px;
}

body {
	margin: 0;
	height: 100dvh;
	width: 100dvw;
	display: grid;
	place-items: center;
}

.boxes {
	width: var(--boxes-size);
	height: var(--boxes-size);
	border: 1px solid lightgray;
	cursor: pointer;
	user-select: none;
}

.box {
	width: calc(var(--boxes-size) / 3);
	height: calc(var(--boxes-size) / 3);
	font-weight: bold;
	font-size: 20px;
	display: grid;
	place-items: center;
	background-color: #efed40;
}

.box {
	animation-name: sprint;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: 2;
	animation-fill-mode: forwards;
	animation-direction: alternate-reverse;
	--diff: calc(var(--boxes-size) - (var(--boxes-size) / 3));
}

@keyframes sprint {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translateX(var(--diff));
	}
	50% {
		transform: translate(var(--diff), var(--diff));
	}
	75%,
	100% {
		transform: translate(0, var(--diff));
	}
}
