#line-height p {
	line-height: 300px;
	text-align: center;
	margin: 0;
}

#letter-spacing p {
	margin: 0;
	letter-spacing: 0;
}

#word-spacing p {
	margin: 0;
	word-spacing: 20px;
}

#white-spacing p {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

#word-break p {
	margin: 0;
	word-break: break-all;
}

#text-indent p {
	text-indent: 20px;
}

#text-transform p {
	text-transform: lowercase;
}

#column-count p {
	column-count: 2;
	text-align: justify;
	column-gap: 10px;
	column-rule: 1px solid red;
}

#direction p {
	direction: initial;
}
