:root {
	--brand-green: #359740;
	--yellow: #ffcf55;
	--danger: #e55c5c;

	// Text
	--text-primary: #1f2533;
	--text-secondary: #70737c;
	--white: #ffffff;

	// Light
	--light-gray-stroke: #efefef;
	--light-blue: #f8f8f8;
	--light-green: #eaf1eb;
}
